{% extends 'base.html.twig' %}

{% block title %}Espace Membre{% endblock %}

{% block body %}
    <h1>Mettez à jour vos informations personnelles</h1>

    {{ include('member/_form.html.twig', {'button_label': 'Update'}) }}

    <a class= "btn btn-outline-secondary" href="{{ path('member_index') }}">back to list</a>

    {# {{ include('member/_delete_form.html.twig') }} #}
{% endblock %}
